# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Data
backend/app/data/*.csv

# Node
frontend/node_modules/
frontend/dist/
npm-debug.log*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db


# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
